.details {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .logo {
    width: 200px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .details-content {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .userScore {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .overviewTitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .overview {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .genresTitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .genres {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .genre {
    font-size: 18px;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .go-back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
  }
  
    .go-back-button:hover {
        background-color: #555;
    }

  .ul,li {
    list-style: none;
  }

  .additionalInfo {
    margin-top: 50px;
  }
  
  .additionalInfoTitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .additionalInfoList {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .additionalInfoItem {
    display: inline-block;
    margin-right: 20px;
  }
  
  .additionalInfoItem:last-child {
    margin-right: 0;
  }
  
  .additionalInfoItem a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  .additionalInfoItem a:hover {
    color: #666;
  }
  